<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>test</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>test</display-name>
    <servlet-name>test</servlet-name>
    <servlet-class>test.test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>osa1yl1</display-name>
    <servlet-name>osa1yl1</servlet-name>
    <servlet-class>test.osa1yl1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>osa1yl1</servlet-name>
    <url-pattern>/osa1yl1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>praks1yl1</display-name>
    <servlet-name>praks1yl1</servlet-name>
    <servlet-class>test.praks1yl1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>praks1yl1</servlet-name>
    <url-pattern>/praks1yl1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>praks1yl2</display-name>
    <servlet-name>praks1yl2</servlet-name>
    <servlet-class>test.praks1yl2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>praks1yl2</servlet-name>
    <url-pattern>/praks1yl2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>praks1yl3</display-name>
    <servlet-name>praks1yl3</servlet-name>
    <servlet-class>test.praks1yl3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>praks1yl3</servlet-name>
    <url-pattern>/praks1yl3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Osa3</display-name>
    <servlet-name>Osa3</servlet-name>
    <servlet-class>osa3.Osa3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Osa3</servlet-name>
    <url-pattern>/Osa3</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>osa3.ServletContextListener</listener-class>
  </listener>
</web-app>